<ion-header>
  <ion-toolbar class="tool">
    <ion-title class="text">Meninas Digitais.</ion-title>
    <ion-buttons slot="end">
      <ion-button size= "small" (click)="close()" id="fechar">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="info1" >
  <ion-row><h1 class="txtTitulo">Brasil Meninas Digitais - SBC</h1></ion-row>
  <img src="../assets/imagens/logoMeninasDigitais.png" width="30%" height="36%" style="margin-left: 35%;"/>
  <ion-row class="txtCorpo">
    <p id="p2">O Programa Meninas Digitais tem como objetivo divulgar a área de Computação e suas tecnologias para despertar 
      o interesse de meninas estudantes do ensino médio (nas suas diversas modalidades) e dos anos finais do ensino fundamental, 
      para que estas conheçam melhor a área e sintam-se motivadas em seguir uma carreira em Computação. As ações do Programa são 
      diversificadas: oferta de minicursos e oficinas; realização de dinâmicas; palestras com estudantes e profissionais que já 
      atuam na área compartilhando suas experiências; realização de eventos etc.
     </p>
    <p> O Programa Meninas Digitais foi criado em 2011 sob a coordenação da Secretaria Regional da Sociedade Brasileira de Computação (SBC) 
      em Mato Grosso e, em 2015, foi institucionalizado pela SBC, recebendo sua chancela, como programa de interesse nacional da 
      comunidade de Computação. A ideia do Programa Meninas Digitais surgiu a partir de discussões no Women in Information Technology (WIT), 
      evento base do Congresso da Sociedade Brasileira de Computação (CSBC). O WIT é uma iniciativa da SBC para discutir assuntos relacionados 
      às questões de gênero e a Tecnologia de Informação (TI) no Brasil por meio de histórias de sucesso, políticas de incentivo e formas de 
      engajamento e atração de jovens, especialmente mulheres, para as carreiras associadas à TI.
    </p>
  </ion-row>

  <ion-row style="padding-left: 30%;">
    <ion-icon name="logo-facebook" class=""
    onclick="window.open('https://pt-br.facebook.com/meninasdigitaisSBC/', '_system', 'location=yes'); return false;">
    </ion-icon>
    <ion-icon name="logo-instagram"
      onclick="window.open('https://www.instagram.com/meninasdigitaissbc/', '_system', 'location=yes'); return false;">
    </ion-icon>
    <ion-icon name="logo-chrome" onclick="window.open('http://meninas.sbc.org.br/', 'location=yes'); return false;">
    </ion-icon>
  </ion-row>
</ion-content>