<ion-header>
  <ion-toolbar class="tool">
    <ion-title class="text">Meninas Digitais.</ion-title>
    <ion-buttons slot="end">
      <ion-button size= "small" (click)="close()" id="fechar">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="info1" >
  <ion-row><h1 class="txtTitulo">Brasil Meninas Digitais - SBC</h1></ion-row>
  <img src="../assets/imagens/logoMeninasDigitais.png" width="30%" height="36%" style="margin-left: 35%;"/>
  <ion-row class="txtCorpo">
    <p>
     </p>
    <p id="p2">  </p>
  </ion-row>
</ion-content>