<ion-header>
  <ion-toolbar class="tool">
    <ion-title class="text"> Ma da Penha.</ion-title>
    <ion-buttons slot="end">
      <ion-button size= "small" (click)="close()" id="fechar">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="info1" >
  <ion-row><h1 class="txtTitulo">Lei 'Maria da Penha'</h1></ion-row>
  <ion-img src="../assets/infos/flag.svg"></ion-img>
  <ion-row class="txtCorpo">
  <p>Lei nº 11.340/2006, conhecida como Lei Maria da Penha é dos mais relevantes avanços
      legislativos que reconhece a violência contra as mulheres como violações aos direitos
      humanos, além de definir e tipificar as formas de violência contra as mulheres no âmbito
      doméstico e familiar (física, psicológica, sexual, patrimonial e moral), também prevê a
      criação das Varas Especializadas, serviços especializados, como os que integram a
      Rede de Enfrentamento à Violência contra a Mulher, compostos por instituições de
      segurança pública, justiça, saúde, e da assistência social.</p>
  <p id="p3">De acordo com o artigo 7º da Lei nº 11.340/2006 (Lei Maria da Penha) são modalidades de
    violência doméstica e familiar contra as mulheres, entre outras:</p>
  <p id="p2"> I – a violência física, entendida como qualquer conduta que ofenda sua integridade ou saúde
    corporal;</p>
  <p id="p2">II – a violência psicológica, entendida como qualquer conduta que lhe cause dano emocional e
    diminuição da autoestima ou que lhe prejudique e perturbe o pleno desenvolvimento ou que vise
    degradar ou controlar suas ações, comportamentos, crenças e decisões, mediante ameaça,
    constrangimento, humilhação, manipulação, isolamento, vigilância constante, perseguição
    contumaz, insulto, chantagem, ridicularização, exploração e limitação do direito de ir e vir ou
    qualquer outro meio que lhe cause prejuízo à saúde psicológica e à autodeterminação;</p>
  <p id="p2">III – a violência sexual, entendida como qualquer conduta que a constranja a presenciar, a manter
    ou a participar de relação sexual não desejada, mediante intimidação, ameaça, coação ou uso da
    força; que a induza a comercializar ou a utilizar, de qualquer modo, a sua sexualidade, que a
    impeça de usar qualquer método contraceptivo ou que a force ao matrimônio, à gravidez, ao
    aborto ou à prostituição, mediante coação, chantagem, suborno ou manipulação; ou que limite ou
    anule o exercício de seus direitos sexuais e reprodutivos;</p>

  <p id="p2">IV – a violência patrimonial, entendida como qualquer conduta que configure retenção,
    subtração, destruição parcial ou total de seus objetos, instrumentos de trabalho, documentos
    pessoais, bens, valores e direitos ou recursos econômicos, incluindo os destinados a satisfazer
    suas necessidades;</p>

  <p id="p2">V – a violência moral, entendida como qualquer conduta que configure calúnia, difamação ou
    injúria.</p>
  </ion-row>
</ion-content>