<ion-header>
  <ion-toolbar class="tool">
    <ion-title class="text">Projeto Cunhantã Digital.</ion-title>
    <ion-buttons slot="end">
      <ion-button size= "small" (click)="close()" id="fechar">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="info1" >
  <ion-row><h1 class="txtTitulo">Sobre o Projeto</h1></ion-row>
  <img src="../assets/imagens/cunhata_logo-1 2.png" width="80%" height="40%" style="margin-left: 10%;"/>
  <ion-row class="txtCorpo">
    <p> O Projeto Cunhantã Digital visa  envolver mulheres em áreas de computação, ciência e tecnologia em geral, promovendo a atuação, fomentando 
      a representatividade e liderança, e gerando conteúdo e ferramentas para a sociedade.
      A intenção é despertar o interesse de alunas do ensino médio/tecnológico e/ou dos anos finais do ensino 
      fundamental, e motivá-las a seguir carreira em Computação. 
     </p>
    <p id="p2"> O projeto também visa fomentar o debate de gênero na academia e no mercado de trabalho tecnológico contribuindo para a formação 
      de profissionais mais engajados tanto em busca da emancipação individual de cada mulher, quanto da consciência 
      coletiva necessária à superação de preconceitos e tabus, desmistificando a visão tradicional de que as áreas 
      tecnológicas são masculinas.  
      As ações do Projeto são diversificadas: oferta de minicursos e oficinas; treinamento de equipes femininas para 
      olimpíadas e maratonas de computação, realização de dinâmicas; levantamentos de dados e publicações científicas; 
      palestras com estudantes e profissionais que já atuam na área compartilhando suas experiências.
    </p>
  </ion-row>
  <ion-row class="ion-justify-content-center"class="ion-justify-content-center">
    <ion-icon name="logo-facebook"
    onclick="window.open('https://www.facebook.com/cunhantadigital/', '_system', 'location=yes'); return false;">
    </ion-icon>
    <ion-icon name="logo-instagram"
      onclick="window.open('https://www.instagram.com/cunhantadigital/', '_system', 'location=yes'); return false;">
    </ion-icon>
  </ion-row>
</ion-content>