<ion-header>
  <ion-toolbar class="tool">
    <ion-title class="text">Projeto Cunhantã Digital.</ion-title>
    <ion-buttons slot="end">
      <ion-button size= "small" (click)="close()" id="fechar">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="info1" >
  <ion-row><h1 class="txtTitulo">Sobre o Projeto</h1></ion-row>
  <img src="../assets/imagens/cunhata_logo-1 2.png" width="80%" height="40%" style="margin-left: 10%;"/>
  <ion-row class="txtCorpo">
    <p>
     </p>
    <p id="p2">  </p>
  </ion-row>
</ion-content>