
<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Cunhantã Digital - Mulheres em Computação, C&T
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card id="s2">
          <ion-card-header>
            <ion-card-title class="textCard">O Projeto Cunhantã Digital</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button fill="solid" expand="block" (click) = "showModal1()" id="s2"> <p> saiba mais </p></ion-button>
          </ion-card-content>
        </ion-card>
        
        <ion-card id="s1">
          <ion-card-header>
            <ion-card-title  class="textCard">Brasil Meninas Digitais - SBC</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button fill="solid" expand="block" (click) = "showModal2()" id="s1"> <p> saiba mais </p></ion-button>
          </ion-card-content>
        </ion-card>
        
        <ion-card id="s2">
          <ion-card-header>
            <ion-card-title  class="textCard">Latin Women in Computing - CLEI</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button fill="solid" expand="block" (click) = "showModal3()" id="s2"> <p> saiba mais </p></ion-button>
          </ion-card-content>
        </ion-card>

        <ion-card id="s1">
          <ion-card-header>
            <ion-card-title  class="textCard">Mulheres em STEM pelo mundo</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button fill="solid" expand="block" (click) = "showModal4()" id="s1"> <p> saiba mais </p></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
