<ion-header>
  <ion-toolbar class="tool">
    <ion-title class="text">A mulheres em STEM.</ion-title>
    <ion-buttons slot="end">
      <ion-button size= "small" (click)="close()" id="fechar">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="info1" >
  <ion-row><h1 class="txtTitulo">Mulheres em STEM pelo mundo</h1></ion-row>
  <ion-img src="../assets/infos/mulheresSTEM.svg"></ion-img>
  <ion-row class="txtCorpo">
    <p>No mundo, também ocorre uma baixa presença e representatividade de mulheres na área de computação, ciência e tecnologia. 
      Um termo muito usado é "Women in STEM", indicando a presença de mulheres nas ciências, tecnologia, engenharias e matemáticas (STEM - Science, Technology, Engineering and Mathematics).
      
      Estudos indicam que equipes mistas rendem mais, além do fato de mulheres serem a maioria da população mundial e formarem o 
      maior grupo de consumidores. Para produzir para ELAS, nada melhor do que a contribuição delas no processo de desenvolvimento do 
      produto. Deste modo, grandes empresas de tecnologia possuem grupos voltados para atrair mulheres em computação e 
      STEM em geral. São exemplos:
     </p>
    <p id="p2">Association for Women in Computing (AWC); </p>

    <p id="p2"> ACM Committee on Women in Computing (ACM-W);</p>

    <p id="p2"> Association for Women in Science (AWIS); </p>

    <p id="p2"> WICSE - University of California in Berkeley;</p>
      
    <p id="p2"> Center for Women and Information Technology (CWIT) IEEE Women in Engineering (WIE).</p>
      <p>
        Essas ações são essenciais para que a nova geração consiga conquistar o que almeja sem as barreiras sociais patriarcais. 
        Visto que, mesmo com tantos feitos, barreiras como o preconceito de gênero e raça prejudicaram a vida de mulheres como, décadas atrás, a 
        da matemática afro-americana Katherine Johnson que se tornou uma grande influência devido às conquistas em projetos como o Apollo 11, 
        responsável pelo primeiro pouso na Lua. Assim, a luta dela e de muitas outras mulheres devem ser prosseguidas pelos jovens para garantir 
        maior igualdade no mundo.
      </p>
  </ion-row>
</ion-content>