<ion-header>
  <ion-toolbar class="tool">
    <ion-title class="text">A mulheres em STEM.</ion-title>
    <ion-buttons slot="end">
      <ion-button size= "small" (click)="close()" id="fechar">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="info1" >
  <ion-row><h1 class="txtTitulo">Mulheres em STEM pelo mundo</h1></ion-row>
  <ion-img src="../assets/infos/mulheresSTEM.svg"></ion-img>
  <ion-row class="txtCorpo">
    <p>
     </p>
    <p id="p2">  </p>
  </ion-row>
</ion-content>