<ion-header>
  <ion-toolbar class="tool">
    <ion-title class="text"> Procure Ajuda.</ion-title>
    <ion-buttons slot="end">
      <ion-button size= "small" (click)="close()" id="fechar">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="info1" >
  <ion-row><h1 class="txtTitulo">QUEBRE O SILÊNCIO! 
    PROCURE AJUDA!
    </h1></ion-row>
  <ion-img src="../assets/infos/contato.svg"></ion-img>
  <ion-row class="text">
    <p>TELEFONES E ENDEREÇOS ÚTEIS:</p>
    <p> CENTRAL DE ATENDIMENTO À MULHER – AUXILIA E ORIENTA AS
      VÍTIMAS DE VIOLÊNCIA – LIGUE 180</p>
    <p id="p2"> POLÍCIA MILITAR – LIGUE 190</p>
    <p id="p2"> SAMU – LIGUE 192</p>
    <p id="p2"> BOMBEIROS – 193</p>
    <p id="p2"> OAB AMAZONAS – COMISSÃO DA MULHER ADVOGADA:</p>
    <p id="p3">Endereço: Avenida Umberto Calderaro Filho, nº 2000,
      Bairro Adrianópolis, CEP 69057-021 – Manaus – Amazonas
      Contato telefônico: (92) 3194 -1800
    </p>
    <p id="p2"> DELEGACIA ESPECIALIZADA EM CRIMES CONTRA A MULHER – DECCM:</p>
    <p id="p3">Endereço: Rua Mário Ypiranga Monteiro, 3.395, Conjunto Eldorado,
      Parque 10 de Novembro - Manaus – Amazonas
      Contato telefônico: (92) 3236-7012 / 3642-7676</p>
    <p id="p2"> SERVIÇO DE APOIO EMERGENCIAL À MULHER – SAPEM:</p>
    <p id="p3">Endereço: Rua Mário Ypiranga Monteiro, 3.395, Conjunto Eldorado,
      Parque 10 de Novembro (ponto de referência: atrás da Delegacia Especializada de Crime
      Contra a Mulher- DECCM). Manaus – Amazonas</p>
    <p id="p2"> SERVIÇO DE ATENDIMENTO ÀS VÍTIMAS DE VIOLENCIA SEXUAL –
      SAVAS – HOSPITAL FRANCISCA MENDES –</p>
    <p id="p3">Endereço: Rua Kamapuã. 108, Cidade Nova II. Manaus – Amazonas
      Contato telefônico: (92) 2123 -2911</p>
    <p id="p2"> CENTRO ESTADUAL DE REFERÊNCIA E APOIO À MULHER –CREAM:</p>
    <p id="p3">Endereço: AV. Kenedy, 399, Bairro Educandos. Manaus – Amazonas
      Contato telefônico: (92) 3624 – 5370</p>
    <p id="p2"> 1º JUIZADO ESPECIALIZADO NO COMBATE À VIOLÊNCIA DOMÉSTICA E
      FAMILIAR CONTRA A MULHER:</p>
    <p id="p3">Localizado no Fórum Azarias Menescal de Vasconcelos
      Endereço: Avenida Autaz Mirim, 8812, Bairro Jorge Teixeira. Manaus – Amazonas
      Contato telefônico: (92) 2127-7553 / 2127-7555</p>
    <p id="p2"> 2º JUIZADO ESPECIALIZADO NO COMBATE À VIOLÊNCIA DOMÉSTICA E
      FAMILIAR CONTRA A MULHER:</p>
    <p id="p3">Localizado no Fórum Ministro Henoch Reis (5.º andar / Setor 6)
      Endereço: Avenida Jornalista Umberto Calderaro Filho, s/nº, Bairro São Francisco.
      Manaus – Amazonas
      Contato telefônico: (92) 3303-5004</p>
    <p id="p2"> 3º JUIZADO ESPECIALIZADO NO COMBATE À VIOLÊNCIA DOMÉSTICA E
      FAMILIAR CONTRA A MULHER:</p>
    <p id="p3">Localizado no Fórum Ministro Henoch Reis (5.º andar / Setor 3)
      Endereço: Avenida Jornalista Umberto Calderaro Filho, s/nº, Bairro São Francisco.
      Manaus – Amazonas
      Contato telefônico: (92) 3303-5012 e 3303-5009</p>
  </ion-row>
</ion-content>