<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Sobre nós
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <img id="fundo" src="/assets/telas/sobre3.png" alt="fundo">
    
        <ion-row class="ion-justify-content-center" style="z-index: 2; position: relative; margin-top: -110%; filter: invert(62%) sepia(91%) saturate(1278%) hue-rotate(326deg) brightness(100%) contrast(93%);">
          <ion-icon src="/assets/icons/twitter.svg" style="zoom: 2; padding: 2px;" onclick="window.open('https://twitter.com/FunTechShow', '_system', 'location=yes'); return false;"></ion-icon>
          <ion-icon src="/assets/icons/insta.svg" style="zoom: 2; padding: 2px;" onclick="window.open('https://www.instagram.com/funtechshow/?hl=pt-br', '_system', 'location=yes'); return false;"></ion-icon>
          <ion-icon src="/assets/icons/face.svg" style="zoom: 2; padding: 2px;" onclick="window.open('https://www.facebook.com/FunTechShow/', '_system', 'location=yes'); return false;"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center" style="z-index: 2; position: relative; margin-top: 25%; margin-bottom: 5px; filter: invert(62%) sepia(91%) saturate(1278%) hue-rotate(326deg) brightness(100%) contrast(93%);">
          <ion-icon src="/assets/icons/twitter.svg" style="zoom: 2; padding:2px;" onclick="window.open('https://twitter.com/culturadoam', '_system', 'location=yes'); return false;"></ion-icon>
          <ion-icon src="/assets/icons/insta.svg" style="zoom: 2; padding:2px;" onclick="window.open('https://www.instagram.com/culturadoam/?hl=pt-br', '_system', 'location=yes'); return false;"></ion-icon>
          <ion-icon src="/assets/icons/face.svg" style="zoom: 2; padding:2px;" onclick="window.open('https://pt-br.facebook.com/culturadoam/', '_system', 'location=yes'); return false;"></ion-icon>
          <ion-icon src="/assets/icons/playstore.svg" style="zoom: 2; padding:2px;" onclick="window.open('https://play.google.com/store/apps/details?id=br.gov.am.cultura.cultura_Amazonas&hl=pt-br', '_system', 'location=yes'); return false;"></ion-icon>
          <ion-icon src="/assets/icons/appstore.svg" style="zoom: 2; padding:2px;" onclick="window.open('https://apps.apple.com/br/app/cultura-am/id1456865542', '_system', 'location=yes'); return false;"></ion-icon>    
        </ion-row>

        <ion-row class="ion-justify-content-center" style="z-index: 3; position: relative; margin-top: 45%;">
          <a href="http://funtechshow.com" style="z-index: 3; text-align: justify; font-size: 15px; color: #F38346;">www.funtechshow.com</a><br>
        </ion-row>

        <ion-row class="ion-justify-content-center" style="z-index: 3; position: relative; margin-top: 2px;">
          <a href="http://bumbometro.funtechshow.com/politica_privacidade.html" style="z-index: 3; text-align: justify; color: #F38346; font-size: 13px;">Política de privacidade</a>
        </ion-row>

        
  </ion-content>
  
 
  <ion-text>sobre nós</ion-text>
</ion-content>
