<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Sobre nós
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <img id="fundo" src="/assets/imagens/fundoSobre.png" alt="fundo">
    
        <ion-row class="ion-justify-content-center" style="z-index: 2; position: relative; margin-top: 25%; margin-bottom: 5px; filter: invert(62%) sepia(91%) saturate(1278%) hue-rotate(326deg) brightness(100%) contrast(93%);">
          <ion-icon src="../www/assets/icon/instagram.png" style="zoom: 2; padding:2px;" onclick="window.open('https://www.instagram.com/cunhantadigital/', '_system', 'location=yes'); return false;"></ion-icon>
          <ion-icon src="../www/assets/icon/facebook.png" style="zoom: 2; padding:2px;" onclick="window.open('https://www.facebook.com/cunhantadigital', '_system', 'location=yes'); return false;"></ion-icon>
        </ion-row>

        <ion-row class="ion-justify-content-center" style="z-index: 2; position: relative; margin-top: -110%; filter: invert(62%) sepia(91%) saturate(1278%) hue-rotate(326deg) brightness(100%) contrast(93%);">
          <ion-icon src="../www/assets/icon/twitter.png" style="zoom: 2; padding: 2px;" onclick="window.open('https://twitter.com/oabam', 'location=yes'); return false;"></ion-icon>
          <ion-icon src="../www/assets/icon/instagram.png" style="zoom: 2; padding: 2px;" onclick="window.open('https://www.instagram.com/oabamazonas/?hl=pt-br', '_system', 'location=yes'); return false;"></ion-icon>
          <ion-icon src="../www/assets/icon/facebook.png" style="zoom: 2; padding: 2px;" onclick="window.open('https://www.facebook.com/Comiss%C3%A3o-da-Mulher-Advogada-da-OAB-Am-1404832603111264/', '_system', 'location=yes'); return false;"></ion-icon>
        </ion-row>
        <ion-row class="ion-justify-content-center" style="z-index: 2; position: relative; margin-top: 25%; margin-bottom: 5px; filter: invert(62%) sepia(91%) saturate(1278%) hue-rotate(326deg) brightness(100%) contrast(93%);">
          <!--<ion-icon src="/assets/icon/instagram.png" style="zoom: 2; padding:2px;" onclick="window.open('https://www.instagram.com/culturadoam/?hl=pt-br', '_system', 'location=yes'); return false;"></ion-icon>-->
          <ion-icon src="../www/assets/icon/facebook.png" style="zoom: 2; padding:2px;" onclick="window.open('https://pt-br.facebook.com/ICompUFAM', '_system', 'location=yes'); return false;"></ion-icon>
        </ion-row>

</ion-content>
