<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Selecionar contato
    </ion-title>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="getFromContacts(searchTerm)" showCancelButton="focus"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let c of todosContatos">
      <ion-item button (click)="passaContact(c.phoneNumbers[0].value, c.name.givenName)"> 
        <ion-label>{{c.name.givenName}} <b>{{c.name.familyName}}</b>
          <p>{{c.phoneNumbers[0].value}}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
