<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Selecionar contato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--ion-list>
    <ion-item button (click)="callContact(contact.phoneNumbers[0].value, contact.displayName)" *ngFor="let contact of todosContatos | async">
      <ion-icon *ngIf="contact.phoneNumbers"></ion-icon>
      <ion-label>
        {{contact.displayName}}
      </ion-label>
    </ion-item>
  </ion-list-->
  <ion-list>
    <ion-item-sliding *ngFor="let c of todosContatos">
      <ion-item button (click)="callContact(c.phoneNumbers[0].value, c.name.givenName)"> 
        <ion-label>{{c.name.givenName}} <b>{{c.name.familyName}}</b>
          <p>{{c.phoneNumbers[0].value}}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
