<ion-header>
  <ion-toolbar class="tool">
    <ion-title class="text"> L.'Importunação Sexual'.</ion-title>
    <ion-buttons slot="end">
      <ion-button size= "small" (click)="close()" id="fechar">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="info1" >
  <ion-row><h1 class="txtTitulo">Lei da 'Importunação Sexual'</h1></ion-row>
  <ion-img src="../assets/infos/photos.svg"></ion-img>
  <ion-row class="txtCorpo">
    <p>Lei 13.718/2018 criminaliza os atos de importunação sexual e divulgação de cenas de
      estupro, nudez, sexo e pornografia.</p>
    <p id="p2"> A pena para as duas condutas é prisão de 1 a 5 anos.</p>
    <p id="p3">A importunação sexual foi definida em termos legais como a prática de ato libidinoso
      contra alguém sem a sua anuência “com o objetivo de satisfazer a própria lascívia ou a de
      terceiro.</p>
  </ion-row>
</ion-content>