<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="presentModal()"> <!--Chamando a Model de todos os contatos-->
    Selecionar contatos
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let contact of emergencyContacts; index as i">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>{{contact.nome}}</p>
          </ion-col>
          <ion-col>
            <p>{{contact.numero}}</p>
          </ion-col>
          <ion-col align-self="center">
            <ion-button fill="clear" (click)="removeContact(contact.numero)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>