ion-content ion-toolbar {
  --background: #af5ca0;
}

.botaoContatos {
  --background: #f39200;
   //ROXO - #af5ca0
  //LARANJA - #f39200
  --color: white;
}

.toolbar{
  --background: #af5ca0;
  --color: white;
}