<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Contatos de emergência
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button class = "botaoContatos" (click)="loadContacts()" expand="block">Adicionar contatos</ion-button>
  <ion-list><!--lista onde vao aparecer os contatos-->
    <ion-item-sliding *ngFor="let c of myContacts">
      <ion-item>
        <ion-label>{{c.name.givenName}} <b>{{c.name.familyName}}</b>
          <p>{{c.phoneNumbers[0].value}}</p>
        </ion-label>
      </ion-item>

    </ion-item-sliding>
  </ion-list>
</ion-content>


