<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Contatos de emergencia
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
            <ion-card *ngFor="let item of data.Contatos; let i = index">
                <ion-card-header>
                    <ion-card-title>Contato
                    </ion-card-title>
                </ion-card-header>
              <ion-card-content>
                <p><strong>Nome</strong>: {{item.nome}}</p>
                <p><strong>Telefone</strong>: {{item.telefone}}</p>
                <ion-icon name="trash" (click)="removeContato('Contatos', i)"></ion-icon>
                <ion-icon name="person-add" (click)="presentAlertPrompt('Contatos', i)"></ion-icon>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>