ion-content {
  --background: white;
}

ion-content ion-toolbar {
  --background: #af5ca0;
}

.toolbar{
  --background: #af5ca0;
  --color: white;
}

.textCard{
  --color: white ;
}

#s1{
  --background: #BE59E1;
  --color: white;
  border-radius: 18px;
}

#s2{
  --background: #F47464;
  --color: white;
  border-radius: 18px;
}

#s3{
  --background: #BE59E1;
  border-radius: 18px;

}

#s4{
  --background: #F47464;
  border-radius: 18px;
  
}

#s5{
  --background: #BE59E1;
  
}