
<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Informativos OAB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="sec1">
    <ion-button (click) = "showModal1()" id="s1"> Violência Contra a Mulher</ion-button>
  </section>
  <section class="sec4">
    <ion-button (click) = "showModal4()" id="s2"> Lei da 'Importunação Sexual'</ion-button>
  </section>
  <section class="sec2">
    <ion-button (click) = "showModal2()" id="s3"> Lei Maria da Penha</ion-button>
  </section>
  <section class="sec3">
    <ion-button (click) = "showModal3()" id="s4"> Lei do 'Feminicídio'</ion-button>
  </section>
  <section class="sec5">
    <ion-button (click) = "showModal5()" id="s5"> Quebre o Silêncio e Procure Ajuda</ion-button>
  </section>
</ion-content>