
<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Informações OAB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card id="s2">
          <ion-card-header>
            <ion-card-title class="textCard">Violência Contra a Mulher</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button fill="solid" expand="block" (click) = "showModal1()" id="s2"> <p> saiba mais </p></ion-button>
          </ion-card-content>
        </ion-card>
        
        <ion-card id="s1">
          <ion-card-header>
            <ion-card-title  class="textCard">Lei da 'Importunação Sexual'</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button fill="solid" expand="block" (click) = "showModal2()" id="s1"> <p> saiba mais </p></ion-button>
          </ion-card-content>
        </ion-card>
        
        <ion-card id="s2">
          <ion-card-header>
            <ion-card-title  class="textCard">Lei Maria da Penha</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button fill="solid" expand="block" (click) = "showModal3()" id="s2"> <p> saiba mais </p></ion-button>
          </ion-card-content>
        </ion-card>
        
        <ion-card id="s1">
          <ion-card-header>
            <ion-card-title  class="textCard">Lei do 'Feminicídio' </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button fill="solid" expand="block" (click) = "showModal4()" id="s1"> <p> saiba mais </p></ion-button>
          </ion-card-content>
        </ion-card>
        
        <ion-card id="s2">
          <ion-card-header>
            <ion-card-title  class="textCard">Quebre o Silêncio e Procure Ajuda</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-button fill="solid" expand="block" (click) = "showModal5()" id="s2"> <p> saiba mais </p></ion-button>
          </ion-card-content>
        </ion-card>      
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
