ion-content ion-toolbar {
  --background: #af5ca0;
}

.toolbar{
  --background: #af5ca0;
  --color: white;
}

#s1{
  --background: #BE59E1;
}

#s2{
  --background: #F47464;
}


#s3{
  --background: #BE59E1;
}

#s4{
  --background: #F47464;
}

#s5{
  --background: #BE59E1;
}


.sec2{
  margin-right: 45%;
  margin-top: 10%;
  float: right;
}

.sec1{
  margin-right: 28%;
  margin-top: 10%;
  width: 70%;
  float: right;
}

.sec3{
  margin-left: 45%;
  margin-top: 10%;
  float: left;
}

.sec4{
  margin-left: 20%;
  margin-top: 10%;
  float: left;
  --color: white;
}

.sec5{
  margin-right: 10%;
  margin-top: 20%;
  float: right;
  width: 85%;
}
