<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Informativos OAB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreeny]="true">
  <ion-button expand="block" > Violência Contra a Mulher</ion-button>
  <ion-button expand="block" > Lei Maria da Penha</ion-button>
  <ion-button expand="block" > Lei do 'Feminicídio'</ion-button>
  <ion-button expand="block" > Lei da 'Importunação Sexual'</ion-button>
  <ion-button expand="block" > Quebre o Silêncio e Procure Ajuda</ion-button>
</ion-content>
