ion-content ion-toolbar {
  --background: #af5ca0;
}

.toolbar{
  --background: #af5ca0;
  --color: white;
}

#s1{
  --background: #BE59E1;
  margin-right: 28%;
  margin-top: 10%;
  width: 80%;
  border-radius: 18px;
}

#s2{
  --background: #F47464;
  margin-left: 14%;
  margin-top: 10%;
  --color: white;
  width: 85%;
  border-radius: 18px;
}


#s3{
  --background: #BE59E1;
  margin-right: 45%;
  margin-top: 10%;
  border-radius: 18px;
  width: 55%;
}

#s4{
  --background: #F47464;
  margin-left: 43%;
  margin-top: 10%;
  border-radius: 18px;
  width: 55%;
}

#s5{
  --background: #BE59E1;
  margin-right: 52%;
  margin-top: 20%;
  width: 100%;
}

