<ion-slides pager="true" [options]="slideOpts">
  <ion-slide id="slide01">
    <ion-row  class="flex-container">
      <ion-row>
        <ion-img src="../assets/guia/logobranco.svg"></ion-img>
      </ion-row>
      <ion-row class="tituloGuia">
        <p>Como configurar</p>
      </ion-row>
      <ion-row class="flex-item">
        <ion-img src='../assets/guia/guia1.svg'></ion-img>
      </ion-row>
      <ion-row class="textoGuia">
        <p>Cadastre seus contatos de confiança.          </p>
      </ion-row>
      
    </ion-row>
  </ion-slide>

  <ion-slide id="slide02">
    <ion-row class="flex-container">
      <ion-row>
        <ion-img src="../assets/guia/logobranco.svg"></ion-img>
      </ion-row>
      <ion-row class="tituloGuia">
        <p>Como alertar seus contatos</p>
      </ion-row>
      <ion-row>
        <ion-img src='../assets/guia/guia2.svg'></ion-img>
      </ion-row>
      <ion-row class="textoGuia">
        <p>Em situações de possível perigo, pressione o botão de volume por 2 segundos.</p>
      </ion-row>
      
    </ion-row>
  </ion-slide>    

  <ion-slide id="slide03">
    <ion-row  class="flex-container">
      <ion-row>
        <ion-img src="../assets/guia/logobranco.svg"></ion-img>
      </ion-row>
      <ion-row class="tituloGuia">
        <p>Como alertar seus contatos</p>
      </ion-row>
      <ion-row>
        <ion-img src='../assets/guia/guia3.svg'></ion-img>
      </ion-row>
      <ion-row class="textoGuia">
        <p>Uma mensagem via sms, fotos da camera traseira e frontal e sua geolocalização serão enviados automaticamente.</p>
      </ion-row>
      
    </ion-row>
  </ion-slide>

  <ion-slide id="slide04">
    <ion-row class="flex-container">
      <ion-row>
        <ion-img src="../assets/guia/logobranco.svg"></ion-img>
      </ion-row>
      <ion-row class="tituloGuia">
        <p>Como ligar automaticamente para a polícia</p>
      </ion-row>
      <ion-row>
        <ion-img src='../assets/guia/guia4.svg'></ion-img>
      </ion-row>
      <ion-row class="textoGuia">
        <p>Em caso de extremo perigo, além de apertar o botão de volume por 2 segundos, em seguida (ou ao mesmo tempo) agite o celular por 1 segundo para ligar para polícia.</p>
      </ion-row>
      <ion-row>
        <ion-button (click)="finish()">Continuar</ion-button>
      </ion-row>
    </ion-row>
  </ion-slide>
</ion-slides>
