
ion-slides{
  width: 100vw; 
  height: 100vh;
}

ion-slides{
  overflow-y: scroll;
}

ion-slides .scroll-content{
  overflow-y: auto !important;
}

.swiper-slide {
  overflow-y: scroll;    
  display: block;    
}

.btnContinuar{
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items:  center;
  align-content: center;
  align-items: center;
  padding: 1em;
}

.tituloGuia{
  font-family: Averia Serif Libre;
  font-style: bold italic;
  font-size: 27px;
  color: white;
}

.textoGuia{
  font-family: Averia Serif Libre;
  font-style: bold;
  font-size: 24px;
  color:white;
}

#slide01{
  background-color: #F47464;
}

#slide02{
  background-color:#BE59E1;
}

#slide03{
  background-color:#F47464;
}

#slide04{
  background-color: #BE59E1;
}