
<ion-header>
  <ion-toolbar class="tool">
    <ion-title class="text"> Violência contra a Mulher.</ion-title>
    <ion-buttons slot="end">
      <ion-button size= "small" (click)="close()" id="fechar">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="info1">
  <ion-row class="txtTitulo">
    <h1>Violência Contra a Mulher.</h1>
  </ion-row>
  <ion-img src="../assets/infos/mulheres.svg"></ion-img>
  <ion-row class="txtCorpo">
    <p id="p1">A violência contra mulheres  constitui-se em uma das principais formas de violação dos seus
  direitos humanos, atingindo-as em seus direitos à vida, à saúde e à integridade física.</p>
  <p id="p2">A Convenção de Belém do Pará (1994) define violência contra as mulheres como “qualquer
  ação ou conduta, baseada no gênero, que cause morte, dano ou sofrimento físico, sexual ou
  psicológico à mulher, tanto no âmbito público como no privado” (Capítulo I, Art. 1°).</p>
  <p id="p3">Segundo dados do Alto Comissariado das Nações Unidas para os Direitos Humanos
  (ACNUDH), “ o Brasil é o 5º. país no ranking mundial de feminicídio (homicídios de
  mulheres)”.</p>
  </ion-row>
</ion-content>