<ion-header>
  <ion-toolbar class="tool">
    <ion-title class="text">Mulheres da América Latina.</ion-title>
    <ion-buttons slot="end">
      <ion-button size= "small" (click)="close()" id="fechar">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="info1" >
  <ion-row><h1 class="txtTitulo">Latin Women in Computing - CLEI</h1></ion-row>
  <ion-img src="../assets/infos/mulheresComp.svg"></ion-img>
  <ion-row class="txtCorpo">
    <p> O Latin Women in Computing (LAWCC) é um congresso realizado como parte do Latin American Computing Conference - CLEI, 
      uma conferência que reúne pesquisadores, profissionais, professores e alunos para discutir tópicos relacionados à 
      Ciência da Computação, Informática Engenharia, Sistemas de Informação e Informática. 
     
      O principal objetivo da LAWCC é destacar as pesquisas, interesses e realizações das mulheres nas diversas áreas da computação, 
      com o intuito de incentivar a participação ativa de mais mulheres. É esperado que as apresentações ajudem a identificar os desafios 
      que as mulheres enfrentam na área de Tecnologias da Informação e Comunicação (TIC), ensino, mercado de trabalho e pesquisa.
     </p>
    <p id="p2">O LAWCC busca maneiras de abordar problemas recorrentes relacionados ao gênero e promover o diálogo com a sociedade sobre esses assuntos.</p>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-icon name="logo-chrome" onclick="window.open('http://clei2020.utpl.edu.ec/en-lawcc/', 'location=yes'); return false;">
    </ion-icon>
  </ion-row>

</ion-content>